@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

/* tags */

html {
  background-color: #f2f2f2;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  width: 1200px;
  min-height: 100vh;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

main {
  flex: 1;
}

h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

h2 {
  font-weight: 700;
}

h3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
}

p {
  color: #333333;
}

ul {
  list-style: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

a {
  font-weight: 700;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

a img {
  display: block;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

svg {
  fill: #83b3d3;
}

select {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: url("../images/icons/arrow-down.svg");
  background-position: right 20px center;
  background-repeat: no-repeat;
}

/* classes */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.main-header {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  padding: 0 70px;
  position: relative;
  overflow: visible;
}

.main-logo {
  position: relative;
  margin-bottom: -6px;
}

.main-navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 45px;
  width: 300px;
  justify-content: space-between;
}

.main-navigation-item {
  font-size: 20px;
}

.main-navigation-item a {
  display: block;
  padding: 21px 0;
  color: inherit;
  text-decoration: none;
  line-height: 1;
}

.main-navigation-item-active {
  border-bottom: 2px solid #756257;
}

.user-navigation {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 20px;
}

.user-nav-item {
  width: 44px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
}

.user-nav-item-icon-buttons {
  display: flex;
}

.user-nav-item-search {
  background-image: url("../images/icons/search.svg");
}

.user-nav-item-favorite {
  background-image: url("../images/icons/like.svg");
  position: relative;
}

.user-nav-favorite-count {
  position: absolute;
  top: 10px;
  right: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7db54f;
  border-radius: 9999px;
  width: 20px;
  height: 20px;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #fff;
}

.button {
  font-family: inherit;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  border-style: none;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 35px;
  max-height: 36px;
}

.button-main {
  background-color: #756257;
}

.button-main:hover,
.button-main:focus {
  background-color: #615048;
}

.button-main:active,
.button-additional:active,
.button-choosen:active,
.button-transparent:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-main:disabled {
  background-color: #e5e5e5;
}

.button-additional {
  background-color: #82b3d3;
}

.button-additional:hover,
.button-additional:focus {
  background-color: #68a2ca;
}

.button-choosen {
  background-color: #7db54f;
}

.button-choosen:hover,
.button-choosen:focus {
  background-color: #6c9e42;
}

.button-transparent {
  background-color: transparent;
}

.button-big {
  font-size: 20px;
  line-height: 36px;
  max-height: 52px;
}

.button-booking,
.button-subscribe {
  padding: 8px 50px;
}

.button-subscribe {
  border-radius: 0 4px 4px 0;
}

.hero {
  background-image: url("../images/backgrounds/index-background.jpg");
  background-color: #82b3d3;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  height: 485px;
}

.hero-image-text {
  margin-top: 50px;
}

.advantages-header {
  padding: 69px 250px 90px 250px;
}

.advantages-title {
  color: #000;
  text-align: center;
  margin-block-start: 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item,
.features-item {
  width: 400px;
  height: 385px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.advantages-item {
  gap: 10px;
}

.advantages-item-image-city,
.advantages-item-image-bridge {
  width: 800px;
  height: 385px;
}

.advantages-item-road {
  background-color: #e6f0f6;
}

.advantages-item-area,
.advantages-item-tourists,
.features-item-house,
.features-item-present {
  background-color: #f0f6fa;
}

.advantages-item-with-image {
  background-color: #82b3d3;
  color: #fff;
}

.advantages-text,
.features-text,
.booking-text,
.subscribe-text {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 0;
}

.advantages-item-title,
.features-item-title,
.booking-title {
  text-align: center;
}

.advantages-item-title,
.advantages-item-text,
.features-item-title,
.features-item-text {
  width: 230px;
}

.advantages-item-divider {
  width: 60px;
  height: 2px;
  background-color: #a8acaf;
}

.advantages-item-divider-with-image {
  background-color: #a7cae0;
}

.advantages-item-text,
.features-item-text {
  text-align: center;
  font-size: 18px;
  line-height: 21px;
}

.advantages-item-text-with-image,
.features-item-text-with-image,
.subscribe-text-with-background {
  color: #fff;
}

.features-item {
  gap: 30px;
}

.features-header {
  padding: 60px 304px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
}

.features-title {
  text-align: center;
  margin-block-start: 0;
}

.features-item-title,
.features-item-text {
  margin: 0;
}

.booking,
.subscribe {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 54px;
}

.booking {
  padding: 70px 304px 95px 304px;
}

.subscribe {
  padding: 70px 255px 104px 255px;
}

.subscribe-form {
  display: flex;
  gap: 0;
}

.subscribe-email {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  width: 452px;
  height: 52px;
  border: none;
  border-radius: 4px 0 0 4px;
  padding-left: 22px;
  box-sizing: border-box;
  background-color: #f2f2f2;
}

.subscribe-with-background {
  background-image: url("../images/backgrounds/subscribe-background.jpg");
  background-color: #82b3d3;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.hotels {
  background-image: url("../images/backgrounds/filter-background.jpg");
  background-color: #82b3d3;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  padding: 35px 70px 70px 70px;
}

.hotels-title {
  margin: 0 0 8px 0;
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
}

.breadcrumb-item-current {
  font-size: 16px;
  line-height: 21px;
}

.breadcrumb-item-home {
  background-image: url("../images/icons/home.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 12px;
  height: 12px;
}

.breadcrumb-item-arrow {
  background-image: url("../images/icons/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 6px;
  height: 10px;
}

.hotels-list-sort-select {
  font-family: inherit;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  line-height: 16px;
  font-weight: 400;
  color: #333333;
  padding: 14px 20px;
  width: 292px;
  height: 48px;
}

.hotels-list-sort-select:focus,
.hotels-list-sort-select:hover {
  border-color: #68a2ca;
  outline: none;
}

.hotels-list-sort-select:disabled {
  opacity: 0.3;
}

.hotels-view-link {
  outline-color: #68a2ca;
}

.hotels-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hotels-form-part {
  display: flex;
  gap: 70px;
}

.hotels-filter legend {
  margin-bottom: 32px;
}

.hotels-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.hotels-filter-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.hotels-filter-item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.hotels-filter-checkbox,
.hotels-filter-radio {
  appearance: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
}

.hotels-filter-checkbox {
  border-radius: 4px;
}

.hotels-filter-radio {
  border-radius: 9999px;
  border: 5px solid #ffffff;
  box-sizing: border-box;
}

.hotels-filter-checkbox:checked {
  background-image: url("../images/icons/check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.hotels-filter-radio:checked {
  background-color: #3f5e72;
}

.hotels-filter-num-inputs {
  display: flex;
  gap: 1px;
  margin-bottom: 43px;
}

.hotels-cost-range {
  display: flex;
  background-color: #f2f2f2;
  padding: 11px 20px;
  box-sizing: border-box;
}

.hotels-filter-range {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  border: none;
  background-color: transparent;
  width: 82px;
}

.hotels-cost-range-from,
.modal-form-counter-button-dec {
  border-radius: 4px 0 0 4px;
}

.hotels-cost-range-to,
.modal-form-counter-button-inc {
  border-radius: 0 4px 4px 0;
}

.hotels-cost-range-label {
  color: #aaaaaa;
}

.form-range {
  position: relative;
}

.form-range .range-scale {
  height: 4 px;
  background-color: rgba(255, 255, 255, 0.3);
}

.form-range .range-bar {
  width: 72%;
  height: 4px;
  background-color: #fff;
}

.range-toggle.range-toggle-min {
  left: 0;
}

.range-toggle.range-toggle-max {
  left: 72%;
}

.form-range .range-toggle {
  position: absolute;
  top: -8px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.hidden-buttons-legend {
  visibility: hidden;
}

.hotels-filter-apply {
  padding: 8px 50px;
}

.hotels-list {
  padding: 50px 70px 60px 70px;
}

.hotels-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.hotels-list-title {
  margin: 0;
}

.hotels-list-view {
  display: flex;
  gap: 8px;
}

.hotels-list-view-item {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
}

.hotels-list-view-item-active,
.hotels-list-view-item:hover {
  border-color: #000;
}

.hotels-list-view-item-grid {
  background-image: url("../images/icons/tiles.svg");
}

.hotels-list-view-item-slideshow {
  background-image: url("../images/icons/slideshow.svg");
}

.hotels-list-view-item-list {
  background-image: url("../images/icons/list.svg");
}

.hotels-view-link,
.user-nav-link,
.pagination-link,
.pagination-dots,
.social-link,
.catalog-to-home-link {
  display: block;
  width: 100%;
  height: 100%;
}

.hotels-list-sort {
  display: flex;
  align-items: center;
  gap: 70px;
}

.hotels-list-items {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 18px;
}

.hotels-list-items .hotels-list-item:nth-child(3n) {
  margin-right: 0;
}

.hotels-list-item {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: auto auto 21px 36px 37px;
  gap: 16px 20px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  box-sizing: border-box;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px;
  width: 340px;
  height: auto;
  grid-template-areas:
    "image image"
    "title title"
    "description price"
    "button-main button-favorite"
    "stars rating";
}

.hotels-list-item-image {
  grid-area: image;
}

.hotels-list-item-title {
  grid-area: title;
  justify-self: start;
  margin: 0;
  text-transform: none;
  word-break: break-word;
}

.hotels-list-item-description {
  grid-area: description;
  align-self: center;
  margin: 0;
}

.hotels-list-item-price {
  grid-area: price;
  justify-self: end;
  align-self: center;
  margin: 0;
}

.hotels-list-item .button.button-main {
  grid-area: button-main;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.hotels-list-item-button {
  grid-area: button-favorite;
  justify-self: end;
  width: 140px;
  padding: 8px 0;
  margin: 0;
}

.hotels-list-item-stars {
  grid-area: stars;
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 0;
}

.hotels-list-item-rating {
  grid-area: rating;
  justify-self: end;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  width: 140px;
  height: 37px;
  margin: 0;
}

.hotels-list-item-link {
  width: 140px;
  padding: 8px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hotels-list-item-button {
  grid-area: button-favorite;
  justify-self: end;
  width: 140px;
  padding: 8px 0;
}

.hotels-list-item-stars {
  grid-area: stars;
}

.hotels-list-item-rating {
  grid-area: rating;
  justify-self: end;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  width: 140px;
  height: 37px;
}

.hotels-filter-buttons {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
}

.pagination-list {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 36px;
  padding: 0;
  list-style: none;
}

.pagination-item {
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 4px;
  box-sizing: border-box;
}

.pagination-item:hover,
.pagination-item:focus {
  border: 1px solid #82b3d3;
}

.pagination-item-current {
  background-color: #f2f2f2;
  color: #000;
  cursor: default;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
  line-height: 36px;
}

.pagination-link-current {
  color: #000;
}

.pagination-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  font-size: 22px;
  line-height: 26px;
}

.pagination-item-current:hover,
.pagination-item:nth-last-child(2):hover {
  border: none;
}

.main-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}

.social-item {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  fill: #83b3d3;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link:hover svg,
.social-link:focus svg {
  fill: #68a2ca;
}

.social-link:active svg {
  fill: #68a2ca;
  opacity: 0.3;
}

.footer-contact {
  padding: 40px 0;
}

.footer-phone {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  font-style: normal;
}

.footer-phone:hover,
.footer-phone:focus {
  color: #756157;
}

.footer-phone:active {
  color: #756157;
  opacity: 0.3;
}

.footer-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 150px;
}

.footer-logo-link:hover svg path,
.footer-logo-link:focus svg path {
  fill: #756157;
}

.footer-logo-link:active svg path {
  fill: #756157;
  opacity: 0.3;
}

/* modal */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  position: relative;
  width: 577px;
  padding: 64px 70px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  max-height: 90vh;
  overflow-y: auto;
}

.modal-header {
  margin-bottom: 64px;
}

.modal-title {
  margin-top: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}

.modal-close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border-radius: 50%;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #e5e5e5;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.modal-form-group {
  display: flex;
  align-items: center;
  gap: 8px;
}

.modal-form-label {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.modal-form-input-container {
  position: relative;
}

.modal-form-submit {
  border-radius: 10px;
  font-size: 20px;
  line-height: 24px;
  padding: 18px 0;
}

.modal-form-input,
.modal-form-counter-input,
.modal-form-counter-button {
  font-family: inherit;
  font-weight: 700;
  border: none;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

.modal-form-input {
  padding: 12px 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  width: 100%;
}

.modal-form-input:focus {
  outline: none;
  border-color: #000;
}

.modal-form-error-message {
  color: #ff4444;
  font-size: 14px;
  margin-top: 5px;
}

.modal-form-info-message {
  color: #666;
  font-size: 14px;
  margin-top: 5px;
}

.modal-form-counter-container {
  display: flex;
  align-items: center;
}

.modal-form-counter-button {
  width: 40px;
  height: 48px;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-form-counter-button:hover {
  background-color: #f5f5f5;
}

.modal-form-counter-input {
  width: 31px;
  height: 48px;
  font-size: 16px;
  text-align: center;
}

/* tooltip */

.tooltip {
  margin-top: 4px;
  margin-left: 2px;
  position: absolute;
  width: 26px;
  height: 26px;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  color: #242424;
  display: block;
}

.tooltip-toggle:hover .tooltip-icon {
  color: #af7842;
}

.tooltip-text {
  position: absolute;
  bottom: 100%;
  background-color: #242424;
  color: #ffffff;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  text-transform: none;
  padding: 5px 8px;
  border-radius: 8px;
  left: 50%;
  transform: translateX(-50%);
  width: 160px;
  z-index: 1;
  margin-bottom: 6px;
  display: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text:after {
  content: "";
  background-image: url("../images/tooltip-arrow.svg");
  width: 14px;
  height: 6px;
  position: absolute;
  transform: rotate(180deg);
  top: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
